@media(max-width:992px){
    #header .left{
        left: 10px;
    }
    #header .right{
        right:10px;
    }
    #home #box{
        width: 40%;
    }
    #inter .a{
        width: 80%;
    }
    #inter .b{
        margin-top: 40px;
        margin-left: 20px;
    }
    #classes p{
        margin: 20px 70px;
    }
    #drawing .box{
        width: 50%;
    }
    #expert .para{
        margin: 20px 100px;
    }
    #me .para{
        margin: 20px 70px;
    }
    #me .king{
        margin: 30px 200px;
    }
}
@media(max-width:776px){
    .container{
        padding: 0px 40px;
    }
    #header .left{
        left: 30px;
    }
    #home h1{
        font-size: 60px;
    }
    #home h2{
        font-size: 30px;
    }
    #header .right{
       display: none;
    }
    #welcome p{
        margin: 20px ;
    }
    #inter{
        margin: 40px;
    }
    #inter .container{
        display:inline;
    }
    #classes p{
        margin: 20px;
    }
    #classes .box-sec {
        display: inline;
        margin-top: 50px;
       
    }
    #classes .box-sec .box{
        margin-top: 40px;
        width: 80%;
        margin: 50px 70px;
    }
    #drawing .box{
        width: 60%;
    }
    #expert .para{
        margin: 20px;
    }
    #me .para{
        margin: 20px;
    }
    #me img{
        width: 10%;
    }
    #me .king{
        margin: 30px 120px;
    }
    #me .king img{
        width: 40%;
    }
    #footer .container .foot-sec{
        display:inline;
    }
    #footer .lap{
        display: flex;
    }
    #footer .lap .b{
        margin-left: 80px;
    }
    #footer .c{
        margin-top: 50px;
    }
    #footer p{
        padding: 0px;
    }
}

@media(max-width:576px){
   
    .container{
        padding: 0px;
    }
    h1{
        margin-top: 40px;
        font-size: 40px;
        line-height: 44px;
    }
    p{
        margin-top: 20px;
        font-size: 18px;
        margin: 20px 0px;
    }
    #home #box{
        margin-left: 20px;
        width: 60%;
        height: 90%;
        padding: 30px;
    }
    #home h2{
        margin-top: 40px;
    }
    #home button{
        padding: 20px 30px;
        padding-top: 14px;
       
    }
    #welcome p{
        font-size: 18px;
    }
    #inter{
        margin: 40px 20px;
      
    }
    #inter .box h3{
        font-size: 25px;
    }
    #inter .a{
        width: 100%;
    }
    #inter .a  img{
        width: 160%;
    }
    #inter .b{
        margin: 0px;
    }
 
    #classes .box-sec .box {
        margin-top: 40px;
        width: 80%;
        margin: 50px 40px;
    }
    #classes .box-sec .box p {
        font-size: 18px;
        margin: 0px;
        margin-top: 10px;
        line-height: 25px;
        padding-bottom: 20px;
    }
    #classes button {
        margin-top: 70px;
        padding: 20px 50px;
        padding-top: 14px;
        background-color: transparent;
        border: 2px solid #ed078b;
        color: #ed078b;
    }
    #drawing h1{
        margin-top: 20px;
    }
    #drawing .box{
        width: 80%;
        padding: 20px;
    }
    #drawing button{
        padding: 20px 40px ;
        padding-top: 14px;
    }
    #drawing .time section {
        margin-left: 5px;
      
        border-radius: 10px;
        padding: 5px;
    }
    #expert .pics{
        display: inline;
    }
    #expert .pics img{
        width: 80%;
    }
    #expert .pics .box{
        margin-top: 50px;
    }
    #me img{
        width: 15%;
    }
    #me .king{
        margin: 30px 0px;
    }
    #me .king .b {
        margin-top: 15px;
        margin-left: -140px;
    }
    #expert .pics .box {
        margin-left: 0px;
    }
    #image{
        display: inline;
        width: 100%;
    }
    #image img{
        width: 100%;
    }
    #footer{
        width: 89%;
        padding: 40px 20px;
    }
    #footer img{
        width: 60%;
    }
    #footer .b{
        margin-left: 0px;
    }
    #footer .lap .b{
        margin-left: 0px;
    }
    #footer .c{
        margin-left: 0px;
    }
    #footer .lap{
        display: inline;
    }
    #footer .a,.b,.c{
        width: 100%;
    }
  #footer footer{
       font-size: 18px;
       line-height: 28px;
   }
}